.landing-flex {
    display: flex;
    justify-content: center;
}
.landing-center {
    background: #dfdfdf;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.landing-featured-title {
    font-weight: bolder;
    font-size: 20px;
}
.landing-centerer{
    display: flex;
    justify-content: center;
    width: 100%;
}
.landing-centered{
    width: 50%;
}
.landing-profile-img{
    height: 100px;
    width: 100px;
}
.landing-whole-journal{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    justify-content: space-around;
    height: 400px;
}
.landing-header{
    display: flex;
    align-items: center;
}
.landing-journals-shown{
    display: flex;
}
.landing-all-best{
    width: 50%;
}
.landing-all-recent{
    width: 50%;
}
.landing-post-content{
    height: 200px;
    overflow-y: auto;
    width: 75%;
}
.landing-search-button{
    display: none;
}
.landing-align{
    text-align: center;
}
.landing-margin{
    margin: 10px 0;
}