.profile-centered{
    display: flex;
    width: 50%;
    height: 375px;
    background: #e6e9d6;
    justify-content: center;
    align-items: center;
}
.profile-flex-center{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.profile-center-buddies{
    width: 50%;
    height: 100%;
}
.profile-center-left{
    background: #e6e9d6;
    display: flex;
    flex-direction: column;
}
.profile-center-right{
    background: #e6e9d6;
    padding-bottom: 10px;
}
.profile-picture{
    max-height: 200px;
    max-width: 200px;
    margin-top: 50px;
    margin-left: 50px;
}
.profile-text{
    margin-left: 50px;
}
.profile-individual-text{
    margin-top: 10px;
}
.profile-all-recent{
    width: 50%;
    background: #e6e9d6;
    margin-top: 20px;
}
.profile-all-recent-flex{
    display: flex;
    overflow-y: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
.profile-all-recent-text{
    text-align: center;
    font-size: 2em;
    font-weight: 700;
}
.profile-journals-recent{
    display: flex;
    height: 300px;
    width: 45%;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 25px;
}
.profile-profile-img{
    width: 100px;
    height: 100px;
    margin-right: 10px;
}
.profile-journal-header{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.profile-journal-content{
    overflow-y: auto;
    width: 90%;
    height: 150px;
    margin-top: 10px;
}
.profile-journals-best{
    display: flex;
    height: 80%;
    width: 100%;
    flex-direction: column;
    border-bottom: 2px black solid;
}
.profile-best-text{
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    padding-bottom: 20px;
}
.profile-background{
    background: #e6e9d6
}
.profile-underline{
    border-bottom: 2px solid black;
}