.profile-centered{
    display: flex;
    width: 50%;
    height: 375px;
    background: orange;
}
.profile-flex-center{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.profile-center-buddies{
    width: 50%;
    height: 100%;
}
.profile-center-left{
    background: green;
    display: flex;
    flex-direction: column;
}
.profile-center-right{
    background: peru;
}
.profile-picture{
    max-height: 200px;
    max-width: 200px;
    margin-top: 50px;
    margin-left: 50px;
}
.profile-text{
    margin-left: 50px;
}
.profile-individual-text{
    margin-top: 10px;
}
.profile-all-recent{
    display: flex;
    width: 50%;
    height: 600px;
    background: lightblue;
    overflow-y: scroll;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.profile-journals-recent{
    display: flex;
    height: 300px;
    width: 50%;
    flex-direction: column;
    background: red;
}
.profile-profile-img{
    width: 100px;
    height: 100px;
    margin-right: 10px;
}
.profile-journal-header{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.profile-journal-content{
    overflow-y: auto;
    width: 90%;
    height: 150px;
    margin-top: 10px;
}