.header-main {
    height: 75px;
    width: 100%;
    background: grey;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-button-enabled {
color: black;
}
.header-button-disabled {
    display: none;
}
.header-title {
    font-size: 2em;
}
.header-img {
    height: 100%;
    width: 100%;
}
.header-pointer :hover {
    cursor: pointer;
}
.header-img-width {
    width: 50px;
}