.header-main {
    height: 75px;
    width: 100%;
    background: #3c60ad;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-button-enabled {
    color: black;
    margin: 0 5px;
}
.header-button-disabled {
    display: none;
}
.header-title {
    color: white;
    font-size: 3em;
    font-family: 'Bree Serif', serif; 
}
.header-img {
    width: 50px;
}
.header-pointer :hover {
    cursor: pointer;
}
.header-img-width {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background: #6b2d2a;
    border-radius: 15px;
}