.post-centerer{
    display: flex;
    justify-content: center;
}
.post-centered{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #dfdfdf;
    width: 50%;
    height: 100vh;
}
.post-textarea{
    height: 300px;
    width: 500px;
    resize: none;
}