.post-centerer{
    display: flex;
    justify-content: center;
}
.post-centered{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100vh;
}
.post-textarea{
    height: 300px;
    width: 500px;
    resize: none;
}
.post-input-space p{
    margin-top: 10px;
}
.post-journal{
    margin: 10px 0;
}
.post-images{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    overflow-x: scroll;
    width: 100%;
    height: 250px;
}
.post-img-height{
    height: 150px;
    padding: 0 10px;
}
.post-bottom-margin{
    height: 20px;
}