.journal-centerer{
    display: flex;
    justify-content: center;
    width: 100%;
}
.journal-centered{
    height: 600px;
    width: 50%;
}
.journal-profile-img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.journal-whole-journal{
    display: flex;
    flex-direction: column;
}
.journal-header{
    display: flex;
    align-items: center;
}
.journal-pic-styles{
    height: 200px;
    padding: 0 10px;
}
.journal-pic-flex{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    overflow-x: scroll;
    margin-top: 10px;
}
.journal-test:hover{
    cursor: pointer;
}
.journal-title-spacing p{
    margin-left: 20px;
}
.journal-website-link{
    margin: 20px 0;
}
.journal-content-margin{
    margin-bottom: 30px;
}